{{ define "control" }}
<div class="container" id="controlPanelContainer">
  {{ range .DatabasesLoad }}
  <div class="row mt-3">
    <div class="col-12">
      <form id="formLoad-{{ .id }}" class="database-form mb-2 py-3">
        <input type="hidden" name="id" value="{{ .id }}">
        <h3>{{ if eq .dbType "mysql" }}MySQL{{ else if eq .dbType "postgres" }}PostgreSQL{{ else if eq .dbType "mongodb" }}MongoDB{{ end }} <span class="text-muted">/ id: {{ .id }}</span></h3>
        <div class="form-group mt-3">
          <label for="connectionsRange-{{ .id }}">Parallel connections to the database</label>
          <div class="range-container mb-3 mt-1" style="position: relative; width: 100%;">
            <input type="range" class="form-control-range w-100" id="connectionsRange-{{ .id }}" name="connections" min="0" max="100" value="{{ .connections }}" oninput="updateValuePosition(this.value, 'connectionsRange-{{ .id }}', 'rangeValue-{{ .id }}'); updateDatabaseLoad('{{ .id }}')">
            <span class="range-value" id="rangeValue-{{ .id }}">{{ .connections }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-check form-switch my-4">
              <input class="form-check-input" type="checkbox" id="switch1-{{ .id }}" name="switch1" role="switch" {{ if eq .switch1 "true" }}checked{{ end }} onchange="updateDatabaseLoad('{{ .id }}')">
              <label class="form-check-label" for="switch1-{{ .id }}">Simple Query (Low Complexity)</label>
            </div>
            <div class="form-check form-switch my-4">
              <input class="form-check-input" type="checkbox" id="switch2-{{ .id }}" name="switch2" role="switch" {{ if eq .switch2 "true" }}checked{{ end }} onchange="updateDatabaseLoad('{{ .id }}')">
              <label class="form-check-label" for="switch2-{{ .id }}">Standard Query (Moderate Complexity)</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check form-switch my-4">
              <input class="form-check-input" type="checkbox" id="switch3-{{ .id }}" name="switch3" role="switch" {{ if eq .switch3 "true" }}checked{{ end }} style="color: red;" onchange="updateDatabaseLoad('{{ .id }}')">
              <label class="form-check-label" for="switch3-{{ .id }}">Advanced Query (High Complexity)</label>
            </div>
            <div class="form-check form-switch my-4">
              <input class="form-check-input" type="checkbox" id="switch4-{{ .id }}" name="switch4" role="switch" {{ if eq .switch4 "true" }}checked{{ end }} style="color: red;" onchange="updateDatabaseLoad('{{ .id }}')">
              <label class="form-check-label" for="switch4-{{ .id }}">Extreme Query (Very High Complexity)</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  {{ else }}
  <div class="row mt-3">
    <div class="col-12">
      <div class="no-databases text-center my-4 p-3 border rounded">
        <p>No databases with load enabled found. Please go to <a href="#" onclick="openSettingsTab()">Settings</a> and create databases.</p>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
