{{ define "database_list" }}
<h3>Database List</h3>
<div id="databaseList">
  {{ range .Databases }}
  <div class="database-item mb-2 p-3 border rounded">
    <form id="form-{{ .id }}">
      <h4>
        {{ if eq .type "mysql" }}MySQL{{ end }}
        {{ if eq .type "postgres" }}PostgreSQL{{ end }}
        {{ if eq .type "mongodb" }}MongoDB{{ end }}
        <span class="text-muted">/ id: {{ .id }}</span>
      </h4>
      <div class="mb-1">
        <label for="connectionString-{{ .id }}" class="form-label">Connection String</label>
        <input type="text" class="form-control" id="connectionString-{{ .id }}" name="connectionString" value="{{ .connectionString }}">
      </div>
      {{ if eq .type "mongodb" }}
      <div class="mb-1">
        <label for="database-{{ .id }}" class="form-label">Database</label>
        <input type="text" class="form-control" id="database-{{ .id }}" name="database" value="{{ .database }}">
      </div>
      {{ end }}
      <div class="mb-1"> 
        <label for="position-{{ .id }}" class="form-label">Position</label> 
        <input type="number" class="form-control" id="position-{{ .id }}" name="position" value="{{ .position }}">
      </div>
      <div class="form-check form-switch my-4">
        <input class="form-check-input" type="checkbox" id="loadSwitch-{{ .id }}" name="loadSwitch" {{ if eq .loadSwitch "true" }}checked{{ end }}>
        <label class="form-check-label" for="loadSwitch-{{ .id }}">Enable Load</label>
      </div>
      <hr>
      <button type="button" class="btn btn-primary" onclick="updateDatabase('{{ .id }}')">Update</button>
      <button type="button" class="btn btn-danger" onclick="deleteDatabase('{{ .id }}')">Delete</button>
    </form>
  </div>
  {{ else }}
  <div class="no-databases text-center my-4 p-3 border rounded">
    <p>No databases found. Please create a database using the form above.</p>
  </div>
  {{ end }}
</div>
{{ end }}
