{{ define "footer" }}
<footer class="text-center text-lg-start">
  <div class="text-center p-3">
      © 2024 Percona:
      <a href="https://Percona.com/">Percona.com</a>
  </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var datasetTab = document.getElementById('dataset-tab');
        if (datasetTab) {
            datasetTab.addEventListener('shown.bs.tab', function(event) {
                var loadingIndicator = document.getElementById('loading-indicator');
                var datasetContent = document.getElementById('dataset-content');
    
                loadingIndicator.style.display = 'block';
                datasetContent.style.display = 'none';
    
                fetch('/dataset')
                    .then(response => response.text())
                    .then(html => {
                        loadingIndicator.style.display = 'none';
                        datasetContent.style.display = 'block';
                        datasetContent.innerHTML = html;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        loadingIndicator.style.display = 'none';
                        datasetContent.style.display = 'block';
                        datasetContent.innerHTML = '<p>Data loading error.</p>';
                    });
            });
        }
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const htmlElement = document.documentElement;
        const switchElement = document.getElementById('darkModeSwitch');

        // Set the default theme to dark if no setting is found in local storage
        const currentTheme = localStorage.getItem('bsTheme') || 'dark';
        htmlElement.setAttribute('data-bs-theme', currentTheme);
        switchElement.checked = currentTheme === 'dark';

        switchElement.addEventListener('change', function () {
            if (this.checked) {
                htmlElement.setAttribute('data-bs-theme', 'dark');
                localStorage.setItem('bsTheme', 'dark');
            } else {
                htmlElement.setAttribute('data-bs-theme', 'light');
                localStorage.setItem('bsTheme', 'light');
            }
        });
    });
</script>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        var controlPanelTab = document.getElementById('control-panel-tab');
        if (controlPanelTab) {
            controlPanelTab.addEventListener('shown.bs.tab', function(event) {
                var controlPanelContent = document.getElementById('controlPanelContainer');
    
                fetch('/index')
                    .then(response => response.text())
                    .then(html => {
                        var tempDiv = document.createElement('div');
                        tempDiv.innerHTML = html;
                        var newContent = tempDiv.querySelector('#controlPanelContainer').innerHTML;
                        controlPanelContent.innerHTML = newContent;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        controlPanelContent.innerHTML = '<p>Data loading error.</p>';
                    });
            });
        }
    });
</script> -->

</body>
</html>
{{ end }}
