{{ define "footer" }}
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3">
      © 2024 Percona:
      <a class="text-dark" href="https://Percona.com/">Percona.com</a>
  </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
  function updateValuePosition(val, rangeId, valueId) {
    const valueSpan = document.getElementById(valueId);
    const rangeInput = document.getElementById(rangeId);
    const percentage = (rangeInput.value - rangeInput.min) / (rangeInput.max - rangeInput.min) * 100;
    valueSpan.textContent = val;
    valueSpan.style.left = `calc(${percentage}% - ${percentage / 100 * 16}px)`;
  }

  document.getElementById('mysqlConnectionsRange').addEventListener('input', function() {
    updateValuePosition(this.value, 'mysqlConnectionsRange', 'mysqlConnectionsValue');
  });
  document.getElementById('postgresqlConnectionsRange').addEventListener('input', function() {
    updateValuePosition(this.value, 'postgresqlConnectionsRange', 'postgresqlConnectionsValue');
  });
  document.getElementById('mongodbConnectionsRange').addEventListener('input', function() {
    updateValuePosition(this.value, 'mongodbConnectionsRange', 'mongodbConnectionsValue');
  });

  document.addEventListener('DOMContentLoaded', function() {
    updateValuePosition(document.getElementById('mysqlConnectionsRange').value, 'mysqlConnectionsRange', 'mysqlConnectionsValue');
    updateValuePosition(document.getElementById('postgresqlConnectionsRange').value, 'postgresqlConnectionsRange', 'postgresqlConnectionsValue');
    updateValuePosition(document.getElementById('mongodbConnectionsRange').value, 'mongodbConnectionsRange', 'mongodbConnectionsValue');
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetch('/start')
      .then(response => response.json())
      .then(data => {
        document.getElementById('mysqlConnectionsRange').value = data.mysql_connections;
        document.getElementById('mysqlConnectionsValue').innerText = data.mysql_connections;
        document.getElementById('postgresqlConnectionsRange').value = data.postgresql_connections;
        document.getElementById('postgresqlConnectionsValue').innerText = data.postgresql_connections;
        document.getElementById('mongodbConnectionsRange').value = data.mongodb_connections;
        document.getElementById('mongodbConnectionsValue').innerText = data.mongodb_connections;
        for (var i = 1; i <= 4; i++) {
          document.getElementById('mysqlSwitch' + i).checked = data['mysql_switch_' + i];
          document.getElementById('postgresSwitch' + i).checked = data['postgres_switch_' + i];
          document.getElementById('mongodbSwitch' + i).checked = data['mongodb_switch_' + i];
        }
      })
      .catch((error) => console.error('Error:', error));
  });

  function updateConnections() {
    var configData = {
        mysql_connections: parseInt(document.getElementById('mysqlConnectionsRange').value, 10),
        postgresql_connections: parseInt(document.getElementById('postgresqlConnectionsRange').value, 10),
        mongodb_connections: parseInt(document.getElementById('mongodbConnectionsRange').value, 10)
    };

    for (var i = 1; i <= 4; i++) {
        configData['mysql_switch_' + i] = document.getElementById('mysqlSwitch' + i).checked;
        configData['postgres_switch_' + i] = document.getElementById('postgresSwitch' + i).checked;
        configData['mongodb_switch_' + i] = document.getElementById('mongodbSwitch' + i).checked;
    }

    fetch('/config', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(configData)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        document.getElementById('mysqlConnectionsRange').value = data.mysql_connections;
        document.getElementById('mysqlConnectionsValue').innerText = data.mysql_connections;
        document.getElementById('postgresqlConnectionsRange').value = data.postgresql_connections;
        document.getElementById('postgresqlConnectionsValue').innerText = data.postgresql_connections;
        document.getElementById('mongodbConnectionsRange').value = data.mongodb_connections;
        document.getElementById('mongodbConnectionsValue').innerText = data.mongodb_connections;
        for (var i = 1; i <= 4; i++) {
            document.getElementById('mysqlSwitch' + i).checked = data['mysql_switch_' + i];
            document.getElementById('postgresSwitch' + i).checked = data['postgres_switch_' + i];
            document.getElementById('mongodbSwitch' + i).checked = data['mongodb_switch_' + i];
        }
    })
    .catch((error) => console.error('Error:', error));
  }

  document.getElementById('mysqlConnectionsRange').addEventListener('input', updateConnections);
  document.getElementById('postgresqlConnectionsRange').addEventListener('input', updateConnections);
  document.getElementById('mongodbConnectionsRange').addEventListener('input', updateConnections);

  for (var i = 1; i <= 4; i++) {
      document.getElementById('mysqlSwitch' + i).addEventListener('change', updateConnections);
      document.getElementById('postgresSwitch' + i).addEventListener('change', updateConnections);
      document.getElementById('mongodbSwitch' + i).addEventListener('change', updateConnections);
  }
  
  document.addEventListener('DOMContentLoaded', function() {

    var settingsTabPost = document.getElementById('settings-tab');
    settingsTabPost.addEventListener('shown.bs.tab', function(event) {

      var mysqlConnectionString = document.getElementById('mysqlConnectionString').value;
      var mongodbConnectionString = document.getElementById('mongodbConnectionString').value;
      var postgresqlConnectionString = document.getElementById('postgresqlConnectionString').value;

      
      var formData = new FormData();
      formData.append('mysqlConnectionString', mysqlConnectionString);
      formData.append('mongodbConnectionString', mongodbConnectionString);
      formData.append('postgresqlConnectionString', postgresqlConnectionString);

      fetch('/settings', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {

        document.getElementById('mysqlStatus').innerText = data.mysql_status;
        document.getElementById('mongodbStatus').innerText = data.mongodb_status;
        document.getElementById('postgresqlStatus').innerText = data.postgres_status;

        var createPostgresDBButton = document.getElementById('createPostgresDBButton');
        var createMysqlDBButton = document.getElementById('createMysqlDBButton');
        if (data.postgres_create_schema === true) {
            createPostgresDBButton.classList.remove('d-none');
        } else {
            createPostgresDBButton.classList.add('d-none');
        }
        if (data.mysql_create_schema === true) {
            createMysqlDBButton.classList.remove('d-none');
        } else {
            createMysqlDBButton.classList.add('d-none');
        }
      })
      .catch(error => console.error('Error:', error));
    });
  });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    $('#settingsForm').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/settings',
            data: $(this).serialize(),
            success: function(response) {
                $('#mysqlStatus').text(response.mysql_status);
                $('#mongodbStatus').text(response.mongodb_status);
                $('#postgresqlStatus').text(response.postgres_status);
                var createPostgresDBButton = $('#createPostgresDBButton');
                var createMysqlDBButton = $('#createMysqlDBButton');
                if (response.postgres_create_schema === true) {
                    createPostgresDBButton.removeClass('d-none');
                } else {
                    createPostgresDBButton.addClass('d-none');
                }
                if (response.mysql_create_schema === true) {
                    createMysqlDBButton.removeClass('d-none');
                } else {
                    createMysqlDBButton.addClass('d-none');
                }
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    });

    $('#createPostgresDBButton').on('click', function() {
        var form = $('#settingsForm')[0];
        var formData = new FormData(form);
        formData.append('create_db_postgres', '1');
        fetch('/settings', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            $('#mysqlStatus').text(data.mysql_status);
            $('#mongodbStatus').text(data.mongodb_status);
            $('#postgresqlStatus').text(data.postgres_status);
            if (data.postgres_create_schema === true) {
                $(this).removeClass('d-none');
            } else {
                $(this).addClass('d-none');
            }
        })
        .catch(error => console.error('Error:', error));
    });

    $('#createMysqlDBButton').on('click', function() {
        var form = $('#settingsForm')[0];
        var formData = new FormData(form);
        formData.append('create_db_mysql', '1');
        fetch('/settings', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            $('#mysqlStatus').text(data.mysql_status);
            $('#mongodbStatus').text(data.mongodb_status);
            $('#postgresqlStatus').text(data.postgres_status);
            if (data.mysql_create_schema === true) {
                $(this).removeClass('d-none');
            } else {
                $(this).addClass('d-none');
            }
        })
        .catch(error => console.error('Error:', error));
    });
});
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var datasetTab = document.getElementById('dataset-tab');
    if (datasetTab) {
      datasetTab.addEventListener('shown.bs.tab', function(event) {
        var loadingIndicator = document.getElementById('loading-indicator');
        var datasetContent = document.getElementById('dataset-content');

        loadingIndicator.style.display = 'block';
        datasetContent.style.display = 'none';

        fetch('/dataset')
          .then(response => response.text())
          .then(html => {
            loadingIndicator.style.display = 'none';
            datasetContent.style.display = 'block';
            datasetContent.innerHTML = html;
          })
          .catch(error => {
            console.error('Error:', error);
            loadingIndicator.style.display = 'none';
            datasetContent.style.display = 'block';
            datasetContent.innerHTML = '<p>Data loading error.</p>';
          });
      });
    }
  });
</script>
</body>
</html>
{{ end }}
