{{ define "header" }}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://percona.community/icons/cropped-percona-favicon-32x32.png" type="image/png">
    <title>Control Panel</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
{{ end }}

