{{ define "index" }}

{{ template "header" }}
<div class="container">
  <h1 class="my-4">Demo App</h1>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="control-panel-tab" data-bs-toggle="tab" data-bs-target="#control-panel" type="button" role="tab" aria-controls="control-panel" aria-selected="true">Load Control Panel</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="dataset-tab" data-bs-toggle="tab" data-bs-target="#dataset" type="button" role="tab" aria-controls="dataset" aria-selected="false">Dataset</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="control-panel" role="tabpanel" aria-labelledby="control-panel-tab">
      {{ template "control" . }}
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      {{ template "settings" . }}
    </div>
    <div class="tab-pane fade" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">
      {{ template "dataset" . }}
    </div>
  </div>
</div>

{{ template "footer" }}

{{ end }}
