{{ define "settings" }}
<div in="settingsContainer">
    <div id="createConnection" class="mt-3">
        <div class="database-item mb-4 p-3 border rounded">
        <h3>Create database connection</h3>
        <form id="createForm" class="mt-4">
        <div class="mb-3">
            <label for="dbType" class="form-label">Select Database Type</label>
            <select class="form-select" id="dbType" name="dbType">
            <option value="mysql">MySQL</option>
            <option value="postgres">Postgres</option>
            <option value="mongodb">MongoDB</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="connectionString" class="form-label">Connection String</label>
            <input type="text" class="form-control" id="connectionString" name="connectionString" value="root:password@tcp(localhost:3306)/dataset">
        </div>
        <div class="mb-3" id="mongodbDatabaseField" style="display: none;">
            <label for="mongodbDatabase" class="form-label">MongoDB Database</label>
            <input type="text" class="form-control" id="mongodbDatabase" name="mongodbDatabase" value="dataset">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <div id="createMessage" class="mt-2"></div>
        </form>
    </div>

    {{ template "settings_databases" . }}

</div>

</div>
<script>
    function deleteSchema(id) {
        if (confirm(`Are you sure you want to delete schema for ${id} database? This will delete all data.`)) {
            const form = $(`#formDatabases-${id}`)[0];
            const formData = new FormData(form);
            formData.append('delete_schema', 'true');

            fetch(`/update_db/${id}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('deleteSchema: Connection status: ', data.connectionStatus);
                console.log('deleteSchema: UpdateStatus: ', data.updateStatus);
                loadDatabaseList();
                showNotification(`Schema with ID: ${id} deleted successfully`, 'success');
            })
            .catch(error => {
                console.error('Error:', error);
                $(`#connectionStatus-${id}`).text("Schema deletion failed");
                showNotification(`Failed to delete schema with ID: ${id} - Error: ${error}`, 'danger');
            });
        }
    }

    function createSchema(id) {
        const form = $(`#formDatabases-${id}`)[0];
        const formData = new FormData(form);
        formData.append('init_schema', 'true');

        fetch(`/update_db/${id}`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('createSchema: Connection: ', data.connectionStatus);
            console.log('createSchema: Update: ', data.updateStatus);
            loadDatabaseList();
            showNotification(`Schema with ID: ${id} created successfully`, 'success');
        })
        .catch(error => {
            console.error('Error:', error);
            $(`#connectionStatus-${id}`).text("Schema creation failed");
            showNotification(`Failed to create schema with ID: ${id} - Error: ${error}`, 'danger');
        });
    }

    function importDataset(id) {
        const formData = new FormData();
        formData.append('action', 'import');

        fetch(`/manage-dataset/${id}`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            $(`#datasetStatus-${id}`).text(`Dataset Status: ${data.datasetStatus}`).show();
            showNotification(`Dataset import for ID: ${id} started successfully`, 'success');
            if (data.datasetStatus === 'Waiting') {
                $(`#importDataset-${id}`).hide();
                $(`#stopImportDataset-${id}`).show();
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showNotification(`An error occurred while adding the import task for ID: ${id} - Error: ${error}`, 'danger');
        });
    }

    function stopImportDataset(id) {
        const formData = new FormData();
        formData.append('action', 'stop');

        fetch(`/manage-dataset/${id}`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                $(`#datasetStatus-${id}`).hide();
                $(`#importDataset-${id}`).show();
                $(`#stopImportDataset-${id}`).hide();
                showNotification(`Dataset import for ID: ${id} stopped successfully`, 'success');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showNotification(`An error occurred while stopping the import task for ID: ${id} - Error: ${error}`, 'danger');
        });
    }

    function updateDatabase(id) {
        const form = $(`#formDatabases-${id}`);
        const data = form.serialize();

        $.ajax({
            type: 'POST',
            url: `/update_db/${id}`,
            data: data,
            success: function(response) {
                loadDatabaseList();
                showNotification(`Update successful for ID: ${id}`, 'success');
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
                $(`#connectionStatus-${id}`).text("Update failed");
                showNotification(`Update failed for ID: ${id} - Error: ${error}`, 'danger');
            }
        });
    }

    function showNotification(message, type) {
        const notification = $('#notification');
        notification.html(`<div class="alert alert-${type}">${message}</div>`);
        setTimeout(() => {
            notification.html('');
        }, 5000);
    }

    function deleteDatabase(id) {
        if (confirm(`Are you sure you want to delete ${id} database?`)) {
            $.ajax({
                type: 'POST',
                url: `/delete_db`,
                data: { id: id },
                success: function(response) {
                    loadDatabaseList();
                    showNotification(`Database with ID: ${id} deleted successfully`, 'success');
                },
                error: function(xhr, status, error) {
                    showNotification(`Failed to delete database with ID: ${id} - Error: ${error}`, 'danger');
                }
            });
        }
    }

    function loadDatabaseList() {
        $('#databaseList').load('/database_list #databaseList');
    }

    document.addEventListener('DOMContentLoaded', function() {
        const dbTypeSelect = document.getElementById('dbType');
        const mongodbDatabaseField = document.getElementById('mongodbDatabaseField');
        const connectionStringInput = document.getElementById('connectionString');

        dbTypeSelect.addEventListener('change', function() {
        if (dbTypeSelect.value === 'mongodb') {
            mongodbDatabaseField.style.display = 'block';
            connectionStringInput.value = 'mongodb://databaseAdmin:password@localhost:27017/';
        } else if (dbTypeSelect.value === 'mysql') {
            mongodbDatabaseField.style.display = 'none';
            connectionStringInput.value = 'root:password@tcp(localhost:3306)/demo';
        } else if (dbTypeSelect.value === 'postgres') {
            mongodbDatabaseField.style.display = 'none';
            connectionStringInput.value = "user=postgres password='password' dbname=dataset host=localhost port=5432 sslmode=disable";
        } else {
            connectionStringInput.value = '';
        }
        });
    
        $('#createForm').on('submit', function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/create_db',
                data: $(this).serialize(),
                success: function(response) {
                    let parsedResponse = JSON.parse(response);
                    const id = parsedResponse.id;
                    showNotification(`Connection created successfully. ID: <strong>${id}</strong>`, 'success');
                    loadDatabaseList();
                },
                error: function(xhr, status, error) {
                    showNotification(`Error: ${error}`, 'danger');
                }
            });
        });

    });
</script>
{{ end }}