{{ define "settings" }}
<div in="settingsContainer">
    <div id="createConnection" class="mt-3">
        <div class="database-item mb-4 p-3 border rounded">
        <h3>Create database connection</h3>
        <form id="createForm" class="mt-4">
        <div class="mb-3">
            <label for="dbType" class="form-label">Select Database Type</label>
            <select class="form-select" id="dbType" name="dbType">
            <option value="mysql">MySQL</option>
            <option value="postgres">Postgres</option>
            <option value="mongodb">MongoDB</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="connectionString" class="form-label">Connection String</label>
            <input type="text" class="form-control" id="connectionString" name="connectionString" value="root:password@tcp(localhost:3306)/dataset">
        </div>
        <div class="mb-3" id="mongodbDatabaseField" style="display: none;">
            <label for="mongodbDatabase" class="form-label">MongoDB Database</label>
            <input type="text" class="form-control" id="mongodbDatabase" name="mongodbDatabase" value="dataset">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <div id="createMessage" class="mt-2"></div>
        </form>
        </div>
        {{ template "settings_databases" . }}
    </div>
</div>
{{ end }}