{{ define "settings_load" }}
    <h3 class="mt-3">Load Generator Settings</h3>
    <p>A separate go routine is opened for each connection to the database. In each go routine an infinite loop with queries to the database is executed. If the number of parallel connections is large and the number of CPUs is small, throttling and CPU queue may occur. To avoid this, add Sleep, which will be executed in each query cycle.</p>
    {{ if .Databases }}
    <form id="sleepSettingsForm" class="my-4">
        {{ range .Databases }}
        <div class="mb-3 my-3">
            <label for="sleep_{{ .id }}" class="form-label">{{ .id }}: Sleep (Millisecond)</label>
            <input type="number" class="form-control" id="sleep_{{ .id }}" name="{{ .id }}" value="{{ .sleep }}">
        </div>
        {{ end }}
        <button type="submit" class="btn btn-primary">Save Sleep Settings</button>
        <div id="statusMessage" class="mt-2"></div>
    </form>
    {{ else }}
        <div class="no-databases text-center my-4 p-3 border rounded">
            <p>No databases found. Please create a database using the form above.</p>
        </div>
    {{ end }}
{{ end }}
